* {
  margin: 0%;
  padding: 0%;
}

.container {
  position: fixed;
  left: 25%;
  top: 7%;
  width: 533px;
  height: 607px;
}

.header {
  width: 100px;
  height: 50px;
  position: fixed;
  left: 603px;
  top: 55px;
  text-align: center;
}

.int {
  width: 284px;
  height: 50px;
  position: fixed;
  left: 66px;
  top: 83px;
}

.btn {
  width: 100px;
  height: 50px;
  left: 423px;
  top: 44px;
}

/* .store {
} */

.card {
  border: 2px solid red;
}
